@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700;800&display=swap');
$redColor: rgba(244,67,54,1);
$blueColor:rgba(33,150,243,1);
$font: 'Montserrat Alternates', sans-serif;
@mixin magic-border($width, $color, $duration, $direction){
    position:relative;
      &:before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
        background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        background-repeat:no-repeat, no-repeat;
        transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg * $direction);
        transition-delay:$duration*2, $duration, 0s;
        }
        &:hover{
            &:before{
              background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
              background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
              transform:scaleX(1) rotate(180deg * $direction);
              transition-delay:0s, $duration, $duration*2;
            }
          }
      }
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    min-height: 200vh;
    height: 100%;
    background: #D7D7D7;
    .footer{
        background: #1a1a1a;
        height: 200px;
        padding: 60px;

        .limit_container{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            color: white;
            .social_icons{
                img{
                    cursor: pointer;
                    margin: 15px;
                    width: 40px;
                    height: 40px;
                    color: white;
                    animation: rotation 2s infinite linear;
                }
                @keyframes rotation {
                    from {
                      transform: rotate(0deg);
                    }
                    to {
                      transform: rotate(359deg);
                    }
                  }
            }
            button{
                cursor: pointer;
                font-weight: bold;
                font-size: 15px;
                background: none;
                border: none;
                outline: none;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.18538em;

                color: #FFFFFF;
            }
            .copyright{
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;

                color: #FFFFFF;
            }
        }
    }
}
.wrapper-main-layout{
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    .limit-container{
        position: relative;
        width: 1240px;
        z-index: 100;
        margin: 0 auto;
        font-family: $font;
        min-height: 100vh;

        .navigation-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            img{
                width: 73px;
                height: 70px;
            }
            .menu{
                width: 40%;
                list-style-type: none;
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    width: 147px;
                    height: 46px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .content{
            width: 580px;
            height: 430px;
            left: 0px;
            margin-top: 25%;
            .content_say_hello{
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
                display: flex;
                align-items: flex-end;
                text-align: center;

                color: #000000;
            }
            .content_name{
                margin-top: 10%;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 94px;

                color: #000000;
            }
            .content_prof{
                margin-top: 3%;
                font-style: normal;
                font-weight: 800;
                font-size: 25px;
                line-height: 29px;
                color: #919191;
            }
        }
    }
    .rotate-container{
        position: absolute;
        z-index: 5;
        left: 50%;
        top: -192px;
        width: 1000px;
        height: 1373.99px;
        transform: rotate(9.67deg);
        background:black;
        img{
            position: absolute;
            left: 5%;
            bottom: 15%;
            transform: rotate(-9.67deg);
        }
    }

    .additional_info_container{
        position: relative;
        height: 320px;
        background: #1d1d1d;
        z-index: 100;
        padding: 54px 0 50px 0;

        .info_block{
            margin: 0 auto;
            height: 100%;
            width: 1240px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: start;

            .block_title{
                color: white;
                font-style: bold;
                font-size: 30px;
                line-height: 37px;
                letter-spacing: 18.54%;
            }
            p{
                font-size: 15px;
                font-style: regular;
                line-height: 21px;
                color: white;
            }
            .btn{
                cursor: pointer;
                padding: 15px 25px;
                color: white;
                font-size: 15px;
                line-height: 18px;
                font-style: Semibold;
                background: transparent;
                outline: none;
                border-left: 2px solid white;
                border-right: 2px solid white;
                border-top: none;
                border-bottom: none;
            }
        }
    }
    .section-about-me{
        padding: 150px 0;
        display: flex;
        height: content;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about-me-title{
            width: 404px;
            height: 107px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0.35538em;
            @include magic-border(4px, #222, 0.2s, 1);
        }
        .about-me-text{
            margin-top: 71px;
            width: 767px;
            height: 50px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 138.68%;
            color: #050505;
            text-align: center;
        }
        .explore{
            cursor: pointer;
            width: 200px;
            height: content;
            margin-top: 71px;
            margin-bottom: 50px;
            color: black;
            font-size: 15px;
            line-height: 18px;
            font-style: Semibold;
            background: transparent;
            outline: none;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-top: none;
            border-bottom: none;
        }

        .explore-img{
            margin-top: 80px;
            width: 170px;
            height: 12px;
        }
        .block-about-prof{
            margin-top: 80px;
            display: flex;
            max-width: 1200px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            .block-item{
                margin: 20px;
                padding: 0px 80px;
                width: 400px;
                height: content;
                
                .block-item-title{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 27px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.18538em;
                }
                .block-item-content{
                    margin-top: 15px;
                    width: 400px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: justify;

                    color: #000000;

                }
            }
        }
        form{
            margin: 50px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                width: 400px;
                padding: 15px;
                height: content;
                margin: 30px 0;
                border-left: 4px solid black;
                border-bottom: 4px solid black;
                box-sizing:content-box;
                input{
                    width: 100%;
                    height: 100%;
                    background: none;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.04em;
                    outline: none;
                    border: none;
                    color: #8B8B8B;
                }
                textarea{
                    background: none;
                    outline: none;
                    border: none;
                }
                
            }
            .btn{
                margin: 50px;
                cursor: pointer;
                padding: 15px 25px;
                color: black;
                z-index: 11;
                font-size: 15px;
                line-height: 18px;
                font-style: Semibold;
                position: relative;
                background: transparent;
                outline: none;
                border-top: none;
                border-bottom: none;
                overflow: hidden;
                opacity: 1;
                transition: 0.5s;

            }
        }
    }
    .section-about-skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .skills-block{
            margin: 35px 0px;
            width: 404px;
            height: 107px;
            border: 6px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0.35538em;
            
        }
        .using-now-block{
            padding: 30px 0;
            width: 1000px;
            .block-title{
                margin-left: 20px;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 37px;
                display: flex;
                align-items: center;
                letter-spacing: 0.18538em;
                color: black;
            }
            .using-inst-blocks{
                display: flex;
                flex-wrap: wrap;
                .block-item{
                    margin: 30px 30px;
                    width: 125px;
                    height: 150px;
                    text-align: center;
                    
                    img{
                        width: 100px;
                        height: 84px;
                        margin: 8px;
                    }
                    .block-item-title{
                        text-transform: uppercase;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 29px;
                        letter-spacing: 0.13538em;
    
                        color: #000000;
                    }
                }
            }
        }
    }



}
