@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700;800&display=swap');
$font: 'Montserrat Alternates', sans-serif;
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    background: #D7D7D7;
    overflow: hidden;
    .limit-container{
        position: relative;
        width: 1040px;
        z-index: 100;
        margin: 0 auto;
        font-family: $font;
        min-height: 100vh;

        .navigation-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            img{
                width: 53px;
                height: 50px;
            }
            .menu{
                width: 60%;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    width: 147px;
                    height: 46px;
                }
            }
        }
        .content{
            width: 580px;
            border:1px solid black;
            height: 430px;
            left: 0px;
            margin-top: 25%;
            .content_say_hello{
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
                display: flex;
                align-items: flex-end;
                text-align: center;

                color: #000000;
            }
            .content_name{
                margin-top: 10%;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 94px;

                color: #000000;
            }
            .content_prof{
                margin-top: 3%;
                font-style: normal;
                font-weight: 800;
                font-size: 25px;
                line-height: 29px;
                color: #919191;
            }
        }
    }
    .rotate-container{
        position: absolute;
        z-index: 5;
        left: 50%;
        top: -192px;
        width: 1000px;
        height: 1373.99px;
        transform: rotate(9.67deg);
        background:red;
    }
}