@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700;800&display=swap');
$font: 'Montserrat Alternates', sans-serif;
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    background: #D7D7D7;
    overflow: hidden;
    .limit-container{
        position: relative;
        width: 1240px;
        z-index: 100;
        margin: 0 auto;
        font-family: $font;
        min-height: 100vh;

        .navigation-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            img{
                width: 73px;
                height: 70px;
            }
            .menu{
                width: 40%;
                list-style-type: none;
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    width: 147px;
                    height: 46px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        border-radius: 20px;
                        padding: 10px;
                        text-align: center;
                        color: black;
                        background: white;
                        display: inline-block;
                        width: 200px;

                    }
                }
            }
        }
        .content{
            width: 580px;
            height: 430px;
            left: 0px;
            margin-top: 25%;
            .content_say_hello{
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
                display: flex;
                align-items: flex-end;
                text-align: center;

                color: #000000;
            }
            .content_name{
                margin-top: 10%;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 94px;

                color: #000000;
            }
            .content_prof{
                margin-top: 3%;
                font-style: normal;
                font-weight: 800;
                font-size: 25px;
                line-height: 29px;
                color: #919191;
            }
        }
    }
    .rotate-container{
        position: absolute;
        z-index: 5;
        left: 50%;
        top: -192px;
        width: 1000px;
        height: 1373.99px;
        transform: rotate(9.67deg);
        background:black;
        img{
            position: absolute;
            left: 5%;
            bottom: 15%;
            transform: rotate(-9.67deg);
        }
    }
}