@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700;800&display=swap");
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  background: #D7D7D7;
  overflow: hidden;
}

.wrapper .limit-container {
  position: relative;
  width: 1240px;
  z-index: 100;
  margin: 0 auto;
  font-family: "Montserrat Alternates", sans-serif;
  min-height: 100vh;
}

.wrapper .limit-container .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .limit-container .navigation-bar img {
  width: 73px;
  height: 70px;
}

.wrapper .limit-container .navigation-bar .menu {
  width: 40%;
  list-style-type: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .limit-container .navigation-bar .menu li {
  width: 147px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrapper .limit-container .navigation-bar .menu li a {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  color: black;
  background: white;
  display: inline-block;
  width: 200px;
}

.wrapper .limit-container .content {
  width: 580px;
  height: 430px;
  left: 0px;
  margin-top: 25%;
}

.wrapper .limit-container .content .content_say_hello {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #000000;
}

.wrapper .limit-container .content .content_name {
  margin-top: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.wrapper .limit-container .content .content_prof {
  margin-top: 3%;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #919191;
}

.wrapper .rotate-container {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: -192px;
  width: 1000px;
  height: 1373.99px;
  -webkit-transform: rotate(9.67deg);
          transform: rotate(9.67deg);
  background: black;
}

.wrapper .rotate-container img {
  position: absolute;
  left: 5%;
  bottom: 15%;
  -webkit-transform: rotate(-9.67deg);
          transform: rotate(-9.67deg);
}
/*# sourceMappingURL=style.css.map */